@use "second/costs";
@use "third/billing";

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(240, 244, 248);
    font-family: Arial, Helvetica, sans-serif;
}
.grey{
    position: absolute;
    display: inline-block;
    margin-top: 20px;
    margin-left: 150px;
    font-size: 12px;
    color: grey;
}
.black{
    position: absolute;
    margin-top: 20px;
    margin-left: 422px;
    font-size: 12px;
}
.payment{
    display: inline-block;
    position: absolute;
    width: 650px;
    height: 280px;
    background-color: white;
    top: 60px;
    left: 150px;
    box-shadow: 4px  3px 4px rgb(233, 236, 240),
                4px -3px 4px rgb(233, 236, 240),
                4px  3px 4px rgb(233, 236, 240),
               -4px  3px 4px rgb(233, 236, 240);
        h1{
            font-size: 28px;
            margin-top: 30px;
            margin-left: 28px;
        }
        .input1{
            position: absolute;
            width: 650px;
            height: 100px;
            margin-top:40px;
        }
        label{
            font-size: 12px;
            color: rgb(160, 158, 158);
            margin-left: 28px;
        }
        input{
            margin-top:8px;
            margin-left: 28px;
            width: 570px;
            height: 15px;
            font-size: 20px;
            font-weight: 700;
            padding: 10px;
            border: 2px solid rgb(223, 220, 220);
            border-radius: 3px;
        }

        .input2{
            position: absolute;
            width: 650px;
            height: 80px;
            margin-top:120px;
            label{
                font-size: 12px;
                color: rgb(160, 158, 158);
                margin-left: 28px;
            }
            input{
                width: 300px;
                height: 15px;
                font-size: 16px;
                font-weight: 700;
                padding: 10px;
                border: 2px solid rgb(223, 220, 220);
                border-radius: 3px;
            }
        }
        .input3{
            position: absolute;
            width: 170px;
            margin-top: 120px;
            margin-left: 345px;
            height: 80px;
            label{
                font-size: 12px;
                color: rgb(160, 158, 158);
            }
            input{
                width: 90px;
                height: 15px;
                font-size: 16px;
                font-weight: 700;
                padding: 10px;
                border: 2px solid rgb(223, 220, 220);
                border-radius: 3px;
            }
        }
        .input4{
            position: absolute;
            width:90px;
            height: 80px;
            margin-left: 480px;
            margin-top:120px;
            label{
                font-size: 12px;
                color: rgb(160, 158, 158);
                margin-left: 28px;
            }
            input{
                width: 90px;
                height: 15px;
                font-size: 16px;
                font-weight: 700;
                padding: 10px;
                border: 2px solid rgb(223, 220, 220);
                border-radius: 3px;
            }
        }
}
a{
    display: inline-block;
    position: relative;
    top: 605px;
    left: 150px;
    text-decoration: none;
    font-size: 15px;
        
        &:hover{
            text-decoration: blue;
        }
}
a:hover::after{
    content: "";
    position: absolute;
    top: 5px;
    width: 100px;
    height: 1px;
    color: blue;

}
button{
    position: absolute;
    top: 590px;
    left: 680px;
    width: 120px;
    height: 34px;
    font-size: 15px;
    padding: 7px;
    font-size: 13px;
    color: white;
    background-color: rgb(54, 118, 238);
    border: 1px solid rgb(54, 118, 238);
    border-radius: 3px;
        &:hover{
            cursor: pointer;
            background-color: blue;
            border: 1px solid blue;
            transition: .4s ease all;
        }
}

